body{
    background-image:url(/assets/images/bg-image.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1515px;
    height: 611px;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        text-align: center;
    }

    img{
        width: 70px;
        
    }
    .child{
        display: flex;
        justify-content: end;
        margin-top: 200px;
        margin-right: 15px;
        text-align: center;
    }
    figure{
        border: 3px solid black;
        border-radius: 35px;
        padding: 20px;
        margin-right: -9px;

        transition: all .3s ease-in-out;
        &:hover{
            padding: 30px;
        }
    }
}



